
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tabs/characters">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ episodes?.title }}</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content *ngIf="episodes" class="ion-padding episode-card">
  
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-img src="https://sitcomdownloads.files.wordpress.com/2011/09/breakingbad.jpg"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-img class="img-episode" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c7082452-1456-4026-9d7e-86dfbece8e46/dc6x9eh-ca15039d-2b48-4eb7-93db-375c8cabed96.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2M3MDgyNDUyLTE0NTYtNDAyNi05ZDdlLTg2ZGZiZWNlOGU0NlwvZGM2eDllaC1jYTE1MDM5ZC0yYjQ4LTRlYjctOTNkYi0zNzVjOGNhYmVkOTYuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.pELtNucr3l_1NL7QxrxLW0o4XY3rOAOWUj3M5TptxTQ"></ion-img>
                <ion-card-content>
          <ion-icon name="calendar" slot= "start"></ion-icon>
          characters: {{ episodes.characters }}
        </ion-card-content>
      </ion-col>
      <ion-col col-6>
        <ion-card-content>
          <ion-icon name="videocam" slot= "start"></ion-icon>
            Episode number: {{ episodes.episode }}
        </ion-card-content>
        <ion-card-content>
          <ion-icon name="alert" slot= "start"></ion-icon>
            Season: {{ episodes.season }}
        </ion-card-content>
        <ion-card-content>
          <ion-icon name="calendar" slot= "start"></ion-icon>
          Aired in: {{ episodes.air_date }}
        </ion-card-content>
        <ion-card-content>
          <ion-icon name="calendar" slot= "start"></ion-icon>
          Aired in: {{ episodes.air_date }}
        </ion-card-content>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
