<ion-tabs>
 
  <ion-tab-bar slot="bottom"  >
 
    <ion-tab-button class="personbanner" tab="characters">
      <ion-icon name="body"></ion-icon>
      <ion-label>Characters</ion-label>
    </ion-tab-button>

    <ion-tab-button  class="deathbanner" tab="death-count">
      <ion-icon name="Skull"></ion-icon>
      <ion-label>Death-Count</ion-label>
    </ion-tab-button>

    <ion-tab-button class="epbanner" tab="episodes">
      <ion-icon name="videocam"></ion-icon>
      <ion-label>Episodes</ion-label>
    </ion-tab-button>
    
    <ion-tab-button class="quotebanner" tab="quotes">
      <ion-icon name="text"></ion-icon>
      <ion-label>Quotes</ion-label>
    </ion-tab-button>
 
  </ion-tab-bar>
 
</ion-tabs>