#grid-death{
    margin: 16px 0 16px 0 ;
    /*border: 1px solid white;*/
}

.icone{
    font-size: 700%;
}

.lineskull{
    padding-bottom: 30px;
}

.linedead{
    background-color: #D59914;
    padding: 1px;
    border: 1px solid;
}