
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tabs/characters">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="grad" >{{ characters?.name }}</ion-title>
    <!--<ion-buttons slot="end">
      <ion-button (click)="unfavoriteFilm()" *ngIf="isFavorite">
        <ion-icon name="star" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
      <ion-button (click)="favoriteFilm()" *ngIf="!isFavorite">
        <ion-icon name="star-outline" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>-->
  </ion-toolbar>
</ion-header>
 
<ion-content class="card-background-page">
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-img src="https://m.gjcdn.net/community-header/950/77697-crop0_30_940_378-bq2bhck8-v4.jpg"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-card *ngIf="characters" class="character-card">
    <img src="{{ characters?.img }}"/>
    <div class="card-title">{{ characters.name }}</div>
    <div class="card-subtitle">
      Nickname: {{ characters.nickname }}<br>
      Birthday: {{ characters.birthday }}<br>
      Occupation: {{ characters.occupation }}<br>
      Played by: {{ characters.portrayed }}<br>
      Status: {{ characters.status }}<br>
    </div>
  </ion-card>


<!--
  <ion-card *ngIf="characters" class="character-card">
    <ion-card-content >
      <ion-icon name="person" slot="start"></ion-icon>
      Character: {{ characters.name }}
     </ion-card-content>
    <ion-card-content>
    <ion-icon name="happy" slot="start"></ion-icon>
     Also known as: {{ characters.nickname }}
    </ion-card-content>

    <ion-card-content>
      <ion-icon name="videocam" slot="start"></ion-icon>
      Played by: {{ characters.portrayed }}
    </ion-card-content> 
  </ion-card>
 -->

</ion-content>