
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tabs/characters">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ characters?.name }}</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content class="card-background-page ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-img src="https://leedsbookclub.files.wordpress.com/2013/08/4c20b-breakingbadbanner.jpg"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-card *ngIf="characters" class="character-card">
    <img src="{{ characters?.img }}"/>
    <div class="card-title">{{ characters.name }}</div>
    <div class="card-subtitle">
      Nickname: {{ characters.nickname }}<br>
      Birthday: {{ characters.birthday }}<br>
      Occupation: {{ characters.occupation }}<br>
      Played by: {{ characters.portrayed }}<br>
      Status: {{ characters.status }}<br>
    </div>
  </ion-card>

</ion-content>